.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.loginForm {
    animation: fadeInLeft 0.5s;
    width: 100%;
    max-width: 400px;
    background:#37a0bd;
    color: #ffffff ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 10px;
    margin: 100px 0;
    box-shadow: 4px 1px 7px 1px rgba(55, 160, 189, 0.41);
}

.input {
    width: 100%;
    background: white;
    margin: 10px 0;
    z-index: 0;
}

.button {
    width: 100%;
    background: #EE423D;
    transition: all 0.3s;
    padding: 10px 0;
    z-index: 0;
}

.button:hover {
    transition: all 0.3s;
    color: white;
    background: #EE423D;
}