.headerLoggedIn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #232A34;
    color: #ffffff;
    position: fixed;
    box-sizing: border-box;
    z-index: 1;
}

.headerLoggedIn > h1 {
    margin: 0;
}