.sideBar {
    width: calc(100% / 6);
    min-height: 100vh;
    background-color: #73D244;
    z-index: 10;
    /*position: fixed;*/
}

.sideBar > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

.sideBar > ul > a {
    text-decoration: none;
    transition: all 0.5s;
    color: white;
    display: flex;
    align-items: center;
}

.sideBar > ul > a:hover {
    text-shadow:0 0 10px #ffffff;
    transition: all 0.5s;
}