.userPageContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.userContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #44393D;
    min-height: 100vh;
    padding: 100px 100px 0 100px;
    color: white;
}
.userInfo {
    display: flex;
    justify-content: flex-start;
}

.userName {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 20px;
    color: white;
    text-align: start;
}

.userName > h1 {
    margin: 0;
}

.avatar {
    width: 100%;
    max-width: 200px;
    height: 200px;
    font-size: 10rem;
    display: flex;
    justify-content: center;
    font-weight: 800;
}

.posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.addPost {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paper {
    width: 100%;
    max-width: 500px;
    background-color: white;
    padding: 2px 4px 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button {
    background-color: #37a0bd;
}